@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

:root {
  --white: #ffffff;
  --blue: #7289da;
  --dark-blue: #4e5d94;
  --dark: #23272a;
  --font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  --text-light: 200;
  --text-normal: 400;
  --text-bold: 600;
}
