@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

:root {
  --WHITE: #ffffff;
  --BLURPLE: #7289da;
  --DARK_BLURPLE: #4e5d94;
  --DARK: #23272a;
  --FONT-FAMILY: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  --FONT-LIGHT: 200;
  --FONT-NORMAL: 400;
  --FONT-BOLD: 600;
}
