* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: var(--text-normal);

  #content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
