</main>
<footer class="bg-dark text-white mt-4">
    <div class="container">
        <div class="d-flex align-items-center pt-2">
            <p class="text_align-center text_bold"> &copy; Ghom 2020 </p>
        </div>
    </div>
</footer>
</div>

<%- include('scripts'); %>