        </div>
    </main>
    <footer class="bg-dark text-white">
        <div class="container d-flex align-items-center justify-content-center">
            <i class="fas fa-quote-left"></i>
            <span class="quoted text-inlaid"> Made by <%- site.author %>, deployed <%- site.deployedSince() %> </span>
            <i class="fas fa-quote-right"></i>
        </div>
    </footer>
</body>

<%- include('scripts'); %>