<%- include('head') %>
<div id="content" class="d-flex flex-column">
<header class="bg-primary text-white mb-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center pt-4">
            <h1 class="text-nowrap"> Just a chat... </h1>
            <div class="input-group d-none d-md-flex col-5">
                <input type="text" class="form-control bg-white" placeholder="Search a user or a post">
                <div class="input-group-append">
                    <a href="#" class="input-group-text"><i class="now-ui-icons ui-1_zoom-bold"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="container flex-grow-1 d-md-flex justify-content-around">
