<%- include('head') %>
<div id="content" class="d-flex flex-column">
<header class="bg-primary text-white mb-4">
    <div class="container">
        <div class="d-flex align-items-center pt-4">
            <h1> Just a chat... </h1>
        </div>
    </div>
</header>
<main class="container flex-grow-1 d-md-flex justify-content-around">
