<head>
    <title> <%- title %> </title>
    <link rel="shortcut icon" href="/images/brand/logo_white-dark.png" type="image/x-icon">

    <%- include('embed', { title }); %>
    <%- include('styles'); %>
</head>