<div class="post flex-grow-1 d-flex">
    <div class="flex-grow-1 d-flex flex-column">
        <%- include('post-header', { post, user }) %>
        <%- include('post-content', { post, user }) %>
        <%- include('post-footer', { post, user }) %>
    </div>
</div>