<div class="post shadow d-flex flex-column trigger">
    <%- include('post-header', { post, user }) %>

    <div onclick="location.href='/post/<%= post.id %>'" class="flex-grow-1 pointer">
        <%- include('post-content', { post, user }) %>
    </div>

    <%- include('post-footer', { post, user }) %>
</div>