<div class="post-list flex-grow-1">
    <% for(const p_post of pagination.page){ %>
        <%- include('../partials/post-card', { post: p_post, user }) %>
    <% } %>
</div>

<%- include('../partials/pagination', { pagination }) %>