<div class="m-2 p-2 shadow" style="min-width: 200px; min-height: 200px">
    <h2> user. </h2>
    <p><%= post.content %></p>
    <form action="like" method="post">
        <input type="hidden" name="user_id" value="<%= user.id %>">
        <input type="hidden" name="post_id" value="<%= post.id %>">
        <button type="submit" class="btn btn-primary btn-icon btn-round">
            <i class="now-ui-icons ui-2_favourite-28"></i>
        </button>
    </form>
</div>
