<div class="post-header d-flex align-items-center justify-content-between">
    <%- include('user-field', { target: post.getAuthor(), user }) %>
    <div class="text-muted text-nowrap"><%= post.since %></div>
</div>