<div class="m-4 px-4 pt-2 flex-grow-1 shadow d-flex flex-column flex-md-row">
    <div class="flex-grow-1">
        <%- include('post-header', { post, user }) %>
        <%- include('post-content', { post, user }) %>
        <%- include('post-footer', { post, user }) %>
    </div>
    <% { %>
        <% const mentions = post.getMentions() %>
        <% if(mentions.length > 0){ %>
            <div class="ml-4">
                <h5> Mentions </h5>
                <%- include('user-list', { users: mentions, user }) %>
            </div>
        <% } %>
    <% } %>
</div>