<div class="d-flex align-items-center justify-content-between">
    <%- include('user-field', { target: post.getAuthor(), user }) %>
    <div class="text-secondary text-nowrap"><%= post.since %></div>
</div>