<%
const fullPath = post.getPath()

if(fullPath.length > 1){
    var path = fullPath.slice(0)
    if(fullPath.length > 3) {
        path = fullPath.slice(fullPath.length - 4)
        path.unshift({
            ...fullPath[0],
            content: "..."
        })
    }
%>
    <nav>
        <ol class="breadcrumb">
            <% path.forEach((part, i) => { %>
                <li class="breadcrumb-item <%= (i === path.length - 1) ? "active" : "" %>">
                    <% if (i !== path.length - 1){ %><a href="/post/<%= part.id %>"><% } %>
                        <%= part.content.trim().slice(0,10).trim() + (part.content.trim().length > 10 ? "..." : "") %>
                        <% if (i !== path.length - 1){ %></a><% } %>
                </li>
            <% }) %>
        </ol>
    </nav>
<% } %>