<form method="post" action="/search" class="input-group col-md-5 m-0 p-0 mx-4">
    <input type="text" name="search" value="<%= options?.search || '' %>" required class="form-control bg-white" placeholder="Search an user or a post">
    <div class="input-group-append">
        <button type="submit" class="input-group-text">
            <i class="now-ui-icons ui-1_zoom-bold"></i>
        </button>
    </div>
</form>