<div class="d-flex flex-wrap justify-content-start"></div>
<script>

</script>

<button
        type="button"
        class="btn btn-neutral btn-icon m-0 p-0"
        onclick="emojiOnClick('<%- target %>','<%- emoji %>')"
><%= emoji %></button>