<ul class="list-group list-group-flush">
    <% for (const u of users) { %>
        <li class="list-group-item m-0 p-0">
            <%- include('user-field', { target: u, user }) %>
        </li>
    <% } %>
</ul>