<ul class="list-group list-group-flush" style="min-width: 50px">
    <% for (const u of users) { %>
        <li class="list-group-item m-0 p-0" style="min-width: 50px">
            <%- include('user-field', { target: u, user }) %>
        </li>
    <% } %>
</ul>