body {
  min-height: 100vh !important;
}

#content {
  height: 100% !important;
}

.muted-anchor {
  color: initial !important;
}

.muted-anchor:hover {
  text-decoration: none !important;
}

.pointer {
  cursor: pointer !important;
}

.d-hover,
.d-sub-hover {
  display: none !important;
}

div:hover > .d-hover,
div:hover > .d-sub-hover,
div:hover > * > .d-sub-hover {
  display: block !important;
}

.adapt-icon-size,
.adapt-icon-size i {
  font-size: 10px !important;
}
