:root {
  --white: #ffffff;
  --blue: #7289da;
  --dark-blue: #4e5d94;
  --dark: #23272a;
  --muted: #737577;
  --red: #c11f1f;
  --transparent: rgba(35, 39, 42, 0.25);
  --thin-layer: rgba(138, 138, 138, 0.05);
}
