.form {
  display: flex;
  flex-direction: column;
  width: 390px;
  padding: 20px 40px;

  // form title
  > :first-child {
    align-self: center;
    height: 40px;
    font-size: 30px;
    margin-bottom: 20px;
  }

  // buttons
  > :last-child {
    margin-top: 20px;
    align-self: center;
    > :last-child {
      background-color: var(--dark-blue);
      &:hover {
        background-color: var(--blue);
      }
    }
  }
}

.input {
  &-round {
    border-radius: 20px;

    &:hover,
    &:focus {
      border-radius: 0;
    }
  }

  &-text {
    display: block;
    font-family: var(--font-family);
    font-weight: var(--text-normal);
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
  }
}
