.input-text {
  font-family: var(--font-family);
  font-weight: var(--text-normal);
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-radius: 20px;
  transition: border-radius 1s ease-in-out;

  &:hover,
  &:focus {
    border-radius: 0;
  }
}
