.group {
  display: flex;

  > * {
    &:not(:last-child) {
      border-right: 0;
    }
  }

  > .rect-hover {
    border-radius: 0;

    &:last-child {
      border-radius: 0 20px 20px 0;
      &:hover,
      &:focus {
        border-radius: 0;
      }
    }

    &:first-child {
      border-radius: 20px 0 0 20px;
      &:hover,
      &:focus {
        border-radius: 0;
      }
    }
  }

  > .round {
    border-radius: 0;

    &:last-child {
      border-radius: 0 20px 20px 0;
    }

    &:first-child {
      border-radius: 20px 0 0 20px;
    }

    &-hover {
      border-radius: 0;

      &:last-child {
        &:hover,
        &:focus {
          border-radius: 0 20px 20px 0;
        }
      }

      &:first-child {
        &:hover,
        &:focus {
          border-radius: 20px 0 0 20px;
        }
      }
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    > * {
      &:not(:last-child) {
        border-bottom: 0;
      }
    }

    > .rect-hover {
      border-radius: 0;

      &:last-child {
        border-radius: 0 0 20px 20px;
        &:hover,
        &:focus {
          border-radius: 0;
        }
      }

      &:first-child {
        border-radius: 20px 20px 0 0;
        &:hover,
        &:focus {
          border-radius: 0;
        }
      }
    }

    > .round {
      border-radius: 0;

      &:last-child {
        border-radius: 0 0 20px 20px;
      }

      &:first-child {
        border-radius: 20px 20px 0 0;
      }

      &-hover {
        border-radius: 0;

        &:last-child {
          &:hover,
          &:focus {
            border-radius: 0 0 20px 20px;
          }
        }

        &:first-child {
          &:hover,
          &:focus {
            border-radius: 20px 20px 0 0;
          }
        }
      }
    }
  }
}
