header {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 80px;
  z-index: 10;

  .logo {
    margin-right: 40px;
  }

  .search-bar {
    margin-left: 40px;
    margin-right: 40px;
  }

  .container {
    padding: 0;
  }
}
