@import "../shortcuts/list";

.post {
  min-width: 390px;
  min-height: 100px;
  padding: 20px;
  margin: 40px 0 40px 0;

  @include list();

  &-header {
    height: 20px;
    margin-bottom: 20px;
  }

  &-reactions {
    transform: translate(-40px, 30px);
    > :last-child {
      border-top-right-radius: 0 !important;
    }
  }

  &-form {
    textarea {
      font-family: var(--font-normal);
      font-weight: var(--text-normal);
      font-size: var(--half);
      padding: var(--half);
      margin: var(--half) 0;
      width: 100%;
      min-height: 120px;
      resize: vertical;
      border-bottom-right-radius: 0;
    }

    button[type="submit"] {
      transform: translate(20px, -20px);
      border-top-left-radius: 0;
    }
  }
}
