.post {
  min-width: 390px;
  min-height: 100px;
  padding: 20px;
  margin: 40px 0 40px 0;

  &-list {
    > .post {
      margin-bottom: 0;
      margin-top: 40px;
      &:nth-child(even) {
        margin-left: 40px;
      }
    }
  }

  &-header {
    height: 20px;
    margin-bottom: 20px;
  }

  &-reactions {
    transform: translate(-40px, 30px);
    > :last-child {
      border-top-right-radius: 0 !important;
    }
  }

  &-form {
    textarea {
      font-family: var(--font-family);
      font-weight: var(--text-normal);
      font-size: var(--half);
      padding: var(--half);
      margin: var(--half) 0;
      width: 100%;
      min-height: 120px;
      resize: vertical;
    }

    button[type="submit"] {
      border-top-left-radius: 0;
    }
  }
}
