.user {
  display: flex;
  justify-content: space-between;
  height: var(--space);
  width: 220px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    > * {
      margin-left: 0;
      margin-right: 40px;
    }
  }

  .picture {
    font-size: var(--space);
    margin-right: var(--quart);
  }

  .username {
    font-size: var(--half);
  }
}

.post {
  .user {
    background-color: var(--white);
    box-shadow: var(--transparent) 0 0 var(--quart);
    border-radius: var(--space);
    border-bottom-right-radius: 0;
    padding-right: var(--half);
    transform: translate(-40px, -20px);
  }
}
