body {
  min-height: 100vh !important
}

#content {
  height: 100% !important
}

.muted-anchor {
  color: initial !important
}

.muted-anchor:hover {
  text-decoration: none !important;
}

.pointer {
  cursor: pointer !important;
}

.hover,
.sub-hover {
  display: none !important;
}

div:hover > .hover,
div:hover > .sub-hover,
div:hover > * > .sub-hover {
  display: initial !important;
}

.adapt-icon-size,
.adapt-icon-size i {
  font-size: 10px !important;
}