@import "colors";

.border {
  border: 1px solid var(--dark);

  @include colors(border-color);

  &-none {
    border: none;
  }
}

.round {
  border-radius: 20px;

  &-hover {
    border-radius: 0;
    &:hover,
    &:focus {
      border-radius: 20px;
    }
  }
}

.rect {
  border-radius: 0;

  &-hover {
    border-radius: 20px;
    &:hover,
    &:focus {
      border-radius: 0;
    }
  }
}

.shadow {
  box-shadow: var(--transparent) 0 0 10px;
  &-inset {
    box-shadow: inset var(--transparent) 0 0 10px;
  }
}
