@import "size";

.round {
  @include all-sizes(border-radius);
}

.rect {
  @include all-sizes(border-radius, true);
}

.shadow {
  box-shadow: var(--transparent) 0 0 10px;

  &-inset {
    box-shadow: inset var(--transparent) 0 0 10px;
  }
}

.border {
  border: 1px solid var(--dark);

  &-none {
    border: none;
  }
}
