.d {
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
  &-none {
    display: none;
  }
}

.d-hover,
.d-sub-hover,
.d-sub-hover-flex {
  display: none;
}

.trigger:hover {
  > .d-hover,
  .d-sub-hover {
    display: block;
    &-flex {
      display: flex;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}
