.d {
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
  &-none {
    display: none;
  }
}

.d-hover,
.d-hover-flex,
.d-hover-bis,
.d-hover-bis-flex {
  display: none;
}

.trigger:hover {
  .d-hover {
    display: block;
    &-flex {
      display: flex;
    }
  }
}

.trigger-bis:hover {
  .d-hover-bis {
    display: block;
    &-flex {
      display: flex;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}
