@mixin inlaid-text {
  pointer-events: none;
  user-select: none;
  &::selection {
    pointer-events: none;
    display: none;
  }
}

.text {
  &-inlaid {
    @include inlaid-text;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-bold {
    font-weight: var(--text-bold);
  }
  &-normal {
    font-weight: var(--text-normal);
  }
  &-light {
    font-weight: var(--text-light);
  }
  &-break {
    word-break: break-word;
  }
  &-align {
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
    &-left {
      text-align: left;
    }
  }
}
