.text {
  &-inlaid {
    pointer-events: none;
    &::selection {
      pointer-events: none;
      display: none;
    }
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-bold {
    font-weight: var(--text-bold);
  }
  &-normal {
    font-weight: var(--text-normal);
  }
  &-light {
    font-weight: var(--text-light);
  }
  &-align {
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
    &-left {
      text-align: left;
    }
  }
}
