<%- include('../partials/header', { logged: false }); %>

<div class="align-self-center p-4 shadow-lg rounded">
    <h4 class="text-danger m-1">Error</h4>
    <p class="m-0"><%= message %></p>
</div>

<%- include('../partials/footer'); %>