<%- include('../partials/header', { options: { user: null }, title: 'Error' }); %>

<div class="align-self-center shadow round p">
    <h1 class="text-red" style="margin-bottom: 20px">Error</h1>
    <p>
        <%- message %>
        <% if(!message.includes('href')){ %>
            <a href='/'>Back to home.</a>
        <% } %>
    </p>
</div>

<%- include('../partials/footer'); %>