<%- include('../partials/header') %>

<form action="login" method="POST">
    <h2> Login </h2>
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <input type="submit" class="btn btn-primary">
</form>
<hr>
<form action="subscribe" method="POST">
    <h2> Subscribe </h2>
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <input type="submit" class="btn btn-primary">
</form>

<%- include('../partials/footer'); %>

