<div class="login-form">
    <h1>Login</h1>
    <form action="login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
    </form>
    <hr>
    <h1>Subscribe</h1>
    <form action="subscribe" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
    </form>
</div>