<%- include('../partials/header', { logged: false }) %>

<form action="login" method="POST" class="align-self-center">
    <h2> Login </h2>
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <input type="submit" class="btn btn-dark">
</form>
<hr class="d-md-none">
<form action="subscribe" method="POST" class="align-self-center">
    <h2> Subscribe </h2>
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <input type="submit" class="btn btn-dark">
</form>

<%- include('../partials/footer'); %>

