<%- include('../partials/header', { options: { user: null } }); %>

<form action="subscribe" method="POST" class="d-flex flex-column align-self-center">
    <h2 class="align-self-center"> Subscribe </h2>
    <div class="form-group mx-5 mx-md-0">
        <input type="text" maxlength="20" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group mx-5 mx-md-0">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <div class="btn-group">
        <a href="/login" class="btn btn-round">Login</a>
        <input type="submit" class="btn btn-round" value="Go">
    </div>
</form>

<%- include('../partials/footer'); %>